.to-do {
  margin: 7% 12em 0;
  border-radius: 2px;
  border: 1px solid #dee2e6;
  padding: 3px;
}

.delete {
  display: none;
}

.space {
  width: 90%;
  outline: none;
}

button {
  border: none;
}

.view-more {
  padding-right: 5px;
}

form {
  border-bottom: 1px solid lightgray;
}

form > input {
  width: 85%;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-style: italic;
}

form > button > i {
  transform: rotate(90deg);
}

.title {
  border-bottom: 1px solid lightgray;
}

.list {
  border-bottom: 1px solid lightgray;
}

#enter {
  background-color: white;
}
